@model my_tv_shows.Models.Serie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Serie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gener" class="control-label"></label>
                <select asp-for="Gener" class="form-control">
                    <option>Adventure</option>
                    <option>Fantasy</option>
                    <option>Animation</option>
                    <option>Drama</option>
                    <option>Horror</option>
                    <option>Action</option>
                    <option>Comedy</option>
                    <option>History</option>
                    <option>Western</option>
                    <option>Thriller </option>
                    <option>Crime</option>
                    <option>Documentary</option>
                    <option>Mystery</option>
                    <option>Music</option>
                    <option>Romance</option>
                    <option>Family</option>
                    <option>War</option>
                    <option>Action_Adventure </option>
                    <option>Kids</option>
                    <option>News</option>
                    <option>Reality</option>
                    <option>Sci_Fi_Fantasy </option>
                    <option>Soap</option>
                    <option>Talk</option>
                    <option>War_Politics</option>
                    <option>TV_Movie</option>
                </select>
                <span asp-validation-for="Gener" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
